# Auto detect text files and perform LF normalization
* text=auto

# PHP files
*.php text eol=lf

# CSS files
*.css text eol=lf

# JS files
*.js text eol=lf

# JSON files
*.json text eol=lf

# Markdown files
*.md text eol=lf

# Exclude files from exporting
.gitattributes export-ignore
.gitignore export-ignore
.github export-ignore
phpunit.xml export-ignore
tests export-ignore